body {
    background-color: azure;
    padding: 0px;
    margin: 0px;
}

table#images {
    position: relative;
    top: 27px;
    width: 100%;
}

input#directory {
    width: 100%;
    padding: 3px;
    top: 23px;
    position: relative;
}

img.photo {
    width: 300px;
    height: 300px;
}

#hiddenFilled {
    float: right;
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 2px;
}

textarea.description , textarea.question {
    height: 300px;
    width: 100%;
}



img.photo ,#magicImageSize{
    width: 300px;
}

div#resume>.caixa {
    width: 23%;
}

.caixa>span {
    background: black;
    color: white;
}

div#resume {
    display: inline-flex;
    background: lightgrey;
    padding: 3px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;

    z-index: 99;
}

@media screen and (max-width: 800px) {
    img.photo ,#magicImageSize{
        width: 50vw;
        height: auto;
    }

    div#resume>.caixa {
        margin-right: 20px;
        width: unset;
    }

}